<!DOCTYPE html>
<html lang="es">
    
    <head th:replace="layouts/plantillaMantenimiento :: cabecera"></head>

    <body>
        <div id="wrapper">
            <!-- Barra de navegación en las interfaces del Administrador -->
            <nav th:replace="layouts/plantillaMantenimiento :: navSuperior">
                <!-- Barra de navegación en las interfaces del Administrador -->
            </nav>

            <aside th:replace="layouts/plantillaMantenimiento :: asideLateral">
                
            </aside>

            <!-- Contenido de la Interfaz Usuario en el Sistema -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header text-center textBienvenido">BIENVENIDO ADMINISTRADOR</h1>
                        </div>
                    </div>

                    <br><br>

                    <div class="row">
                        <div class="textHora">
                            <span id="horaForm"></span>
                        </div>
                        <div class="textFecha">
                            <span id="fechaForm"></span>
                        </div>                                   
                    </div>
                    
                    <div th:replace="layouts/plantillaMantenimiento :: paneles">
                        <!--
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">13</div>
                                            <div>Nuevos Mensajes</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">Mensajes Totales: 45</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-tasks fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">30</div>
                                            <div>Nuevos Productos</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">Productos Totales: 75</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-shopping-cart fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">5</div>
                                            <div>Nuevas Ventas</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">Total de Ventas: 50</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">5</div>
                                            <div>Nuevos Usuarios</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">Total de Usuarios: 100</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="layouts/plantillaMantenimiento :: footer"></div>
        
        <script th:src="@{/administrador_usuarios/js/libreriaUsuario.js}"></script>
        <script th:src="@{/administrador_usuarios/js/fecha.js}"></script>
    </body>
</html>
