
.textHora{
    font-size: 200px;
    padding-top: 20px;
}

.textFecha{
    font-size: 50px;
    padding-bottom: 100px;
}

.textBienvenido{
    font-size: 50px;
    padding-bottom: 20px;
}

.textFecha, .textHora, .textBienvenido{
    font-family: Poppins-Regular;
    text-align: center;
    color: #000000;
}
