<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/plantillaMantenimiento :: cabecera"></head>
<body>
    <div id="wrapper">
        <ul th:replace="layouts/plantillaMantenimiento :: asideLateral"></ul>
        
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace="layouts/plantillaMantenimiento :: navSuperior"></nav>
            
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h1 class="page-header">Mantener Productos</h1>
                        </div>
                    </div>
                    <div th:replace="layouts/plantillaMantenimiento :: paneles"></div>
                    <br>
                    <div class="alert alert-warning alert-dismissible fade show" th:if="${mensaje != null}" role="alert">
                        <span th:text="${mensaje}">borradoXD</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 form-container">
                            <div class="card border-info">
                                <div class="card-header bg-info text-white">
                                    <b class="panel-tittle">Registro de Productos</b>
                                </div>
                                <form th:action="@{/producto/guardar}" th:object="${producto}" method="post">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nombre: </label>
                                                <input th:field="*{nombre_producto}" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Description: </label>
                                                <input th:field="*{descripcion}" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-6">
                                                <label>Talla: </label>
                                                <input th:field="*{talla}" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Color: </label>
                                                <input th:field="*{color}" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-6">
                                                <label>Precio: </label>
                                                <input th:field="*{precio}" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Categoria: </label>
                                                <select th:field="*{categoria.id}" class="form-control">
                                                    <option value="">Seleccione una de las Categorias</option>
                                                    <option th:each="elemento: ${listaCategoria}"  th:value="${elemento.id}" th:text="${elemento.modelo}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-6 text-right">
                                                <button class="btn btn-success" type="submit">
                                                    <i class="fa-solid fa-floppy-disk"></i>
                                                    Guardar Producto
                                                </button>
                                            </div>
                                            <div class="col-lg-6 text-left">
                                                <button class="btn btn-info" type="button" onclick="fnLimpiarProducto();">
                                                    <i class="fa-solid fa-floppy-disk"></i>
                                                    Limpiar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <b class="panel-tittle">Todos los Productos</b>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive ">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Nombre</th>
                                                    <th class="text-center">Descripcion</th>
                                                    <th class="text-center">Talla</th>
                                                    <th class="text-center">Color</th>
                                                    <th class="text-center">Precio</th>
                                                    <th class="text-center">Categoria</th>
                                                    <th class="text-center" colspan="2">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <tr th:each = "item: ${listaProducto}">
                                                    <td th:text="${item.nombre_producto}"></td>
                                                    <td th:text="${item.precio}"></td>
                                                    <td th:text="${item.descripcion}"></td>
                                                    <td th:text="${item.color}"></td>
                                                    <td th:text="${item.talla}"></td>
                                                    <td th:text="${item.categoria.modelo}"></td>
                                                    <td class="text-center">
                                                        <a href="#" class="btn btn-primary editarProducto"
                                                            th:data-id="${item.id}"
                                                            th:data-categoria="${item.categoria.id}"
                                                            th:data-nombre="${item.nombre_producto}"
                                                            th:data-precio="${item.precio}"
                                                            th:data-descripcion="${item.descripcion}"
                                                            th:data-color="${item.color}"
                                                            th:data-talla="${item.talla}">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </a>
                                                        
                                                    </td>
                                                    <td class="text-center">
                                                        <a th:href="@{/producto/eliminar/} + ${item.id}" class="btn btn-danger" onclick="return  confirm('Desea eliminar el Producto?')">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </a>
                                                        
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
    
                </div>

            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalEditarProducto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark" style="color: #222020;"></i>
                </button>
            </div>
            <form th:action="@{/producto/guardar}" th:object="${producto}" method="post">
                <div class="modal-body">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>Categoría:</label>
                            <select class="form-control" name="categoria.id" id="cboCategoria">
                                <option value="">Seleccione una opción:</option>
                                <option th:each="item: ${listaCategoria}" th:value="${item.id}" th:text="${item.modelo}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>Nombre del producto:</label>
                            <input type="text" name="nombre_producto" id="txtNombre" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>Description del producto:</label>
                            <input type="text" name="descripcion" id="txtDescripcion" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>Talla del producto:</label>
                            <input type="text" name="talla" id="txtTalla" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>Color del producto:</label>
                            <input type="text" name="color" id="txtColor" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>Precio del producto:</label>
                            <input type="text" name="precio" id="txtPrecio" class="form-control"/>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info">
                        <i class="fa-solid fa-floppy-disk"></i> Guardar cambios
                    </button>
                </div>
            </form>
        </div>
        </div>
    </div>
    
    <div th:replace="layouts/plantillaMantenimiento :: footer"></div>
    <script type="text/javascript" th:src="@{/js/ModalsMantenimiento.js}"></script>
</body>
</html>