<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN - JF </h1>
    <p>subido desde github</p>
    <p>Marca de Meysoner</p>
    <div>
        <p>User : </p>
        <input type="text" id="user">
    </div>
    <div>
        <p>contraseña : </p>
        <input type="text" id="password">
    </div>
    <div>
        <button onclick="finInicioSession();">
            Iniciar Session
        </button>
    </div>

    <script th:src="@{/js/src_login.js}"></script>
</body>
</html>
