<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>JF - Inicio</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/Logo-JF-BN.ico}" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="css/Estilo_Tienda.css" rel="stylesheet" />
        <link href="css/Estilo_Letras.css" rel="stylesheet" />
        <link href="css/Estilo_Intro.css"rel="stylesheet">
        <link href="https://s3-us-west-2.amazonaws.com/external.plus.nikecloud.com/agreementservice/legal.css" rel="stylesheet" />
</head>
<body>
    
</body>
</html>
