<!DOCTYPE html>
<html lang="es">
<head>
	<title>JF-Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{/fuentes/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{/fuentes/fonts/iconic/css/material-design-iconic-font.min.css}">

<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{/css/Estilo_borders.css}">
	<link rel="stylesheet" th:href="@{/css/Estilo_login.css}">
<!--===============================================================================================-->

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-49">
						Iniciar sesión
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
						<span class="label-input100">Nombre de usuario o correo electrónico</span>
						<input class="input100" type="text" id="user" placeholder="Escribe tu nombre de usuario">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Contraseña</span>
						<input class="input100" type="password" id="password" placeholder="Escribe tu contraseña">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					
					<div class="text-right p-t-8 p-b-31">
						<a href="#">
							<span th:text="${mensaje}"></span>
							¿Olvidaste tu contraseña?
						</a>
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button onclick="fnInicioSession();" class="login100-form-btn" type="button">
								Iniciar sesión
							</button>
							
						</div>
					</div>
					
					<div class="txt1 text-center p-t-54 p-b-20">
						<span>
							O regístrate usando
						</span>
					</div>
					
					<div class="flex-c-m">
						<a href="https://es-la.facebook.com/" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="https://twitter.com/login" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="https://mail.google.com/mail?hl=es" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
						
						<a href="https://mail.google.com/mail?hl=es" class="login100-social-item bg4">
							<i class="fa fa-medium"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-50">
						<span class="txt1 p-b-17">
							O regístrate aquí
						</span>

						<a href="#" class="txt2" type="button" onclick="fnRegistrate();">
							Registrarse
						</a>

						
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
<!-- 	<script th:src="@{/js/funciones_login.js}"></script>-->
   <script th:src="@{/js/src_login.js}"></script>
</body>
</html>
